@background-color: #e7ecef;
@text-color: #303036;
@link-color: #4b88a2;
@link-hover-color: darken(@link-color, 10%);
@link-active-color: @link-color;
@accent-color-green: #dcf763;
@accent-color-red: #f05d5e;
